.box1{
    background: url('/css/01default.png') no-repeat;
    background-size: 300px 562px;
}

#div2, #div1, #div3 {
    display: inline-block;
    width: 300px;
    height: 562px;
    border: 1px solid gold
  }



img{
      width: 300px;
      height: 562px;
      display: inline-block;
  }

  /* #img1 {
      width: 80
  } */